body {

    font-family: 'Roboto', sans-serif;
    margin: 0px;
    // background-image: url(../img/bg-image.png);
    background-image: url(/src/img/sand.png);
    // background-color: rgb(250, 245, 245);
   
}
h1{
    font-size: 32px;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto',monospace;
}
a {
    text-decoration: none;
    font-family:'Roboto', monospace;
}

a :after {
    text-decoration: none;
    color: $color-light-white;
    font-family:'Roboto';
}


p {
    color: $color-light-white;
    font-family: 'Roboto';
}

