body {

    /* padding: 0 20px; */
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    // background-attachment: scroll;

    background-image: url(/src/img/bg-image.png);
   
}
h1{
    font-size: 32px;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto',monospace;
}
a {
    text-decoration: none;
    font-family:'Roboto', monospace;
}

a :after {
    text-decoration: none;
    color: white;
    font-family:'Roboto';
}


p {
    color: white;
    font-family: 'Roboto';
}

