/* body */
body {
    max-width: 1980px;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(223, 30, 33);
}

a {
    text-decoration: none;

}


/* header */

.header__wrapper {
    background-color: rgb(207, 188, 102);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__info {
    padding: 0 100px;

}

.header__logo_img {

    max-width: 200px;
    max-height: 40px;
}

.header__language {
    display: flex;
    align-items: center;
}

.header_language_title {
    padding-left: 20px;
    max-width: 190px;
    text-decoration: underline;
    cursor: pointer;

}

.header__language_logo {
    max-width: 40px;
    max-height: 30px;
}

/* main */
.main {
    margin-top: 40px;
}

.main__wrapper {
    display: flex;
    justify-content: space-around;
    background-color: rgb(223, 30, 33);
    padding-bottom: 20px;
}

.main__video_name {
    /* background: white; */
}

.main__video_text {
    display: flex;
    justify-content: center;
    align-items: center;

}

.beta_div {
    display: flex;
    justify-content: center;
}

.beta {
    color: red;
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin-top: 100px;
    max-width: 460px;
}

.documentation {
    margin-top: 40px;
    padding: 20px 0;
    background: rgb(207, 188, 102);
}

.documentation__wrapper {
    display: flex;
    justify-content: center;
    gap: 120px;
}

.documentation__pdf_logo {
    max-width: 48px;
}

.documentation__handbook {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-top: 0px;
    padding: 10px 10px;
}

.documentation__text {

    color: white;
    background-color: rgb(223, 30, 33)
}

.main__video_connect :hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);

}