/* body */
body {

    /* padding: 0 20px; */
    font-family: 'Roboto', sans-serif;
    margin: 0px;

    /* background-color: rgb(223, 30, 33); */
    /* background-color: rgb(140, 143, 145); */
    /* background: linear-gradient(to top, #cce0f3 4%, #80a4cb 88%); */

    /* background: linear-gradient(to bottom right, #23b2a5, rgb(223, 30, 33)); */
    /* background-size: 400% 400%;
    animation: gradient 15s ease infinite */
}

.bg {
    animation: slide 6s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #23b2a5 50%, rgb(223, 30, 33) 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 6s;
}

.bg3 {
    animation-duration: 8s;
}

.content {
    background-color: rgba(255, 255, 255, .8);
    border-radius: .25em;
    box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
    box-sizing: border-box;
    left: 50%;
    padding: 10vmin;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: monospace;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

.body__wrapper {
    /* display: block;
    justify-content: center; */
    max-width: 1920px;
    margin: auto;
    overflow: hidden
        /* align-items: center; */

}

@media (max-width: 767px) {
    .body__wrapper {
        max-width: 767px;
        overflow: hidden
    }
}

a {
    text-decoration: none;

}

a :after {
    text-decoration: none;
    color: white;
}


p {
    color: white;
}

/* header */

.header__wrapper {
    background-color: rgb(223, 30, 33);
    display: flex;
    justify-content: center;
    gap: 400px;
    align-items: center;
    box-shadow: 5px;
}

@media (max-width: 1279px) {
    .header__wrapper {
        display: flex;
        justify-content: center;
        gap: 30px;
    }

}

@media (max-width: 767px) {
    .header__wrapper {
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    .header__title {
        font-size: 14px;
        /* display: none; */
    }

    /* .header__language_logo {
        display: none;
    } */

    .header__title {
        display: none;
    }


}

@media (max-width: 550px) {
    /* .header__language_logo {
        display: none;
    } */

    .header__wrapper {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}

.header__logo {
    /* padding-left: 20px; */
}

.header__title {
    color: white;
}

.header__info {
    /* padding: 0 00px; */
    /* width: 407px; */
}

@media (max-width: 250px) {
    .header__info {
        /* padding: 0 00px; */
        width: 366px;
    }
}

.header__logo_img {
    background-color: white;
    max-width: 200px;
    max-height: 40px;
    padding: 2px;
}

.header__language {
    display: flex;
    align-items: center;
    gap: 20px;
    /* background: #23b2a5; */
    padding: 10px;

}

.header_language_title {
    /* padding-left: 20px; */
    max-width: 190px;
    text-decoration: underline;
    cursor: pointer;

}

.header__language_logo {
    width: 40px;
    height: 25px;
    border: 1px solid black;
    /* padding-right: 10px; */

}

@media (max-width: 767px) {
    .header__language {
        justify-content: center;
    }

    .header__logo_img {
        max-width: 140px;
        max-height: 30px;
    }
}

/* main */
.main {
    margin-top: 40px;
}

.main__wrapper {
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(223, 30, 33); */
    padding-bottom: 20px;


}

@media (max-width: 1120px) {
    .main__wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;


    }
}

@media (max-width: 767px) {
    .main__wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;


    }


}

.main__video_name {
    /* background: white; */
    font-size: 18px;
    max-width: 350px;
}

.main__video_content {
    background-color: white;
    padding: 5px 10px;
    height: 708px;

}


.main__video_connect :hover {
    box-shadow: 0 0 25px rgba(33, 33, 33, .2);
}

.main__video_clear-cache :hover {
    box-shadow: 0 0 25px rgba(33, 33, 33, .2);
}

.main__video_scan :hover {
    box-shadow: 0 0 25px rgba(33, 33, 33, .2);
}

.main__video_name {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    padding: 2px;
    background-color: rgb(223, 30, 33);

}

.main__video_connect {
    box-sizing: border-box;

    /* background-color: rgb(223, 30, 33) */
}

.documentation {
    margin-top: 40px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    /* background-image: url('src/img/vos-bg.png');
    width: 1500px;
    height: 498px; */
    /* background: rgb(152, 104, 104); */
}


.documentation__wrapper {
    display: flex;
    justify-content: center;
    gap: 120px;

}

@media (max-width: 767px) {
    .documentation__wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }
}

@media (max-width: 940px) {
    .documentation__wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 40px;

    }
}

.documentation__pdf_logo {
    max-width: 48px;
}

.documentation__handbook {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-top: 0px;
    padding: 10px 10px;
    width: 200px;
}

.documentation__text {

    color: white;
    background-color: rgb(223, 30, 33)
}

.documentation__text {
    text-decoration: underline;
    padding: 10px;
}

.documentation__pdf_logo {
    margin-bottom: 10px;
}





.footer__wrapper {
    padding-top: 40px;
    /* background-image: url('src/img/vos-bg.png'); */

    /* max-height: 700px; */
}

.footer__bg_desktop {
    width: 1920px;


}

.footer__bg_tablet {
    display: none;
    /* max-width: 767px; */
}

@media (max-width: 767px) {
    .footer__bg_tablet {
        max-width: 767px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        /* display: none; */
        /* min-width: 100px; */
    }

    .footer__bg_desktop {
        display: none;
    }
}

@media (max-width: 550px) {
    .footer__bg_tablet {
        max-width: 550px;
    }
}

/* 
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} */