

.activity{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap:  30px;
    row-gap: 23px;
    justify-content: center;
    padding-top: 50px;
    :hover{
        background-color:  $color-primary;
        border-radius: 20px;
    }
}
.activity__block{
    background:  $color-primary;
    border-radius: 5px;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
} 


.activity__name{
    font-family: 'roboto';
    color: aliceblue;
    letter-spacing: 3px;
    font-size: 42px;
    line-height: 44px;
    text-align: center;
}
@media (max-width: 767px) {
    .activity{
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 10px;
    }
    .activity__block{
        max-width: 360px;
        height: 200px;
        text-align: center;
    } 
}
